{% extends 'base.html' %}
{% block content %}
  <h2>{{ accion }} Producto</h2>
  <form method="post">
    <div class="mb-2">
      <label>Nombre</label>
      <input class="form-control" name="nombre" value="{{ producto.nombre if producto else '' }}" required>
    </div>
    <div class="mb-2">
      <label>Cantidad</label>
      <input class="form-control" name="cantidad" type="number" value="{{ producto.cantidad if producto else 0 }}" required>
    </div>
    <div class="mb-2">
      <label>Precio</label>
      <input class="form-control" name="precio" type="number" step="0.01" value="{{ producto.precio if producto else 0.0 }}" required>
    </div>
    <button class="btn btn-success" type="submit">{{ accion }}</button>
    <a class="btn btn-secondary" href="{{ url_for('listar_productos') }}">Cancelar</a>
  </form>
{% endblock %}
